* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// For the background, this enables control of where the center of the radial is positioned. The colors also gets to be controlled by stating where the the colors should start
#root {
  background: radial-gradient(
    circle at 50% 85%,
    #f9f1d7 1%,
    #445d7b 40%,
    #2a3d54 70%
  );
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

//This is for the tree
#tree {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  height: 50vh;
  width: auto;
  .cls-1 {
    fill: #ffec5f;
  }

  .cls-2 {
    fill: #f2f2f2;
  }

  .cls-3 {
    fill: #3f2500;
  }

  .cls-4 {
    fill: #234b2c;
  }

  .cls-5 {
    fill: #e6e6e6;
  }
}
// This is the landscape underneath
#foreground {
  fill: #f5f8ff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 2;
}
#middleground {
  fill: #dcdce2;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.greeting {
  z-index: 4;
}
